<app-header titulo="card"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa sint rem ducimus a assumenda, dolor laudantium! Dolorum quas earum, et velit repudiandae nemo iure dolorem deleniti quis numquam ab ut!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://assets.survivalinternational.org/pictures/489/4116455578-1f8d781f66-b_screen.jpg" alt="pelicula">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, animi nam quia fugit dolor eos tempore hic quam perferendis ipsam, nostrum laboriosam exercitationem temporibus corporis vitae similique est culpa quidem.
    </ion-card-content>
  </ion-card>

</ion-content>
