<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="onClick()" expand="block">
        Alert
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Alert MultiButtons
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block">
        Present Alert Prompt
    </ion-button>

    <ion-button (click)="presentAlertCheckbox()" expand="block">
        Present Alert Checkbox
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block">
        Present Alert Radio
    </ion-button>   

</ion-content>
